#title{
    color: red;
  }
  #subtitle{
      color: green;
  }
  
  .featured-excerpt{
      color: blue;
  }

#title{color: red;}
 #subtitle{color: green;} 
 .featured-excerpt{color: blue;}
 span p:first-child{color: red;}
 span p:last-child{color: blue;}
 span p:nth-child(4){color: green;}
 .pink:hover{color: pink;}

 #box{
    width: 800px;
    background: cyan;
 }

 .inline,.block{
    color: white;
    margin: 10px;
    padding: 2px;
    background: purple;
    border: 3px solid green;
 }

 .block{
    background: red;
 }